# auth service settings
DB_CONNECTION_STRING=postgres://postgres:auth_password@localhost:5432/postgres
ACCESS_TOKEN_PRIVATE_KEY=8f5B2/6YYdViFTgQIfclsuBu2D31zVPNVmvNQ8/AGbXSrD9Y5i+yZzdMkop5uTe9rB+ajxooYzqWkVyFvpe+Ig==
PASSWORD_SECRET=raggy-secret-pepper-2026
REFRESH_TOKEN_SECRET=raggy-secret-refresh-2026

# goose settings
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:auth_password@localhost:5432/postgres
GOOSE_MIGRATION_DIR=./internal/migrations

ACCESS_TOKEN_PUBLIC_KEY=0qw/WOYvsmc3TJKKebk3vawfmo8aKGM6lpFchb6XviI=
