# auth service settings
# 
# note!: contains duplicate information stored in docker compose
# as it can't be easily loaded into the registration command e.g.
#
#   godotenv -f .env.example go run ./cmd/register developer
#
DB_CONNECTION_STRING=postgres://postgres:auth_password@localhost:5432/postgres
ACCESS_TOKEN_PRIVATE_KEY=8f5B2/6YYdViFTgQIfclsuBu2D31zVPNVmvNQ8/AGbXSrD9Y5i+yZzdMkop5uTe9rB+ajxooYzqWkVyFvpe+Ig==
REFRESH_TOKEN_SECRET=raggy-secret-refresh-2026
ARGON2_PASSWORD_PEPPER=raggy-secret-pepper-2026

# goose settings
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:auth_password@localhost:5432/postgres
GOOSE_MIGRATION_DIR=./internal/migrations
